<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script>
    var preffix = 'http://mail.masha.sexy:8000';
    function getMessages() {
        var chatText = $('#chatText');
        $.ajax({
            url: preffix + "/messages/",
            crossDomain: true,
            success: function (messages) {
                var current = $('#chatText p');
                var start_index = 0;
                $.each(current, function(index, m) {
                    var msg_id = m.id, msg_author = $(m).find('b').text();
                    if (msg_id != messages[index].time || msg_author != messages[index].author) {
                        $(m).remove();
                    } else {
                        start_index = index + 1;
                    }
                });
                $.each(messages, function (index, message) {
                    if (index >= start_index) {
                        var msg = '<p id="' + message.time + '"><b>' + message.author + '</b>: ' + message.text + '</p>';
                        chatText.append(msg);
                    }
                });
            }
        });
    }

    $(function () {
        var chatText = $('#chatText'),
                username = $('#username'),
                text = $('#text');

        setInterval(function () {
            getMessages();
        }, 5000);

        setInterval(function () {
            var pos = chatText.scrollTop() + 10;
            chatText.scrollTop(pos);
        }, 100);

        text.keypress(function (event) {
            if (event.which == 13) {
                var username_value = $.trim(username.val()),
                        text_value = $.trim(text.val());
                if (username_value != '' && text_value != '') {
                    $.post(preffix + "/", {
                        author: username_value,
                        text: text_value
                    }, function () {
                        text.val('');
                    });
                }
            }
        });
    });
</script>
<div style="width:60%">
    <div id="chatText" style="clear: both;border:solid 1px;overflow-x: scroll;height: 200px;"></div>
    <input id="username" placeholder="username" size="10">
    <input id="text" placeholder="text" size="90" on>
</div>
