<style media="screen" type="text/css">
    #chatText > p {
        margin: 0;
    }

    .container input {
        display: inline;
    }
</style>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script>
    var preffix = 'http://mail.masha.sexy:8000';

    function messageToP(message) {
        return '<p id="' + message.time + '" style="color:' + message.color + ';">' +
                '[' + (new Date(message.time*1000)).toTimeString().substring(0, 8) + '] ' +
                '<b>' + message.author + '</b>: '
                + message.text +
                '</p>';
    }

    function pToMessage(p) {
        return {
            time: parseFloat(p.id),
            author: $(p).find('b').text()
        };
    }

    function getMessages(callback) {
        var chatText = $('#chatText');
        $.get(preffix + "/messages/",
                function (messages) {
                    var current = $('#chatText p');
                    var start_index = 0;
                    $.each(current, function (index, p) {
                        var oldMessage = pToMessage(p), newMessage = messages[index];
                        if (!newMessage || !(oldMessage.time == newMessage.time && oldMessage.author == newMessage.author)) {
                            $(p).remove();
                        } else {
                            start_index = index + 1;
                        }
                    });
                    $.each(messages, function (index, message) {
                        if (index >= start_index) chatText.append(messageToP(message));
                    });
                }
        );
        callback();
    }

    function insertMessage(message, callback) {
        var chatText = $('#chatText'), current = $('#chatText p');
        var prevP = null;
        $.each(current, function (index, p) {
            var oldMessage = pToMessage(p);
            if (oldMessage.time < message.time) {
                prevP = p;
            }
        });
        var p = messageToP(message);
        if (prevP) {
            $(p).insertAfter(prevP);
        } else {
            chatText.append(p);
        }
        callback();
    }

    function scrollChat() {
        var chatText = $('#chatText');
        chatText.scrollTop = chatText.scrollHeight;
    }

    $(function () {
        var chatText = $('#chatText'),
                username = $('#username'),
                text = $('#text');

        setInterval(function () {
            getMessages(scrollChat);
        }, 10000);

        text.keypress(function (event) {
            if (event.which == 13) {
                var username_value = $.trim(username.val()),
                        text_value = $.trim(text.val());
                if (username_value != '' && text_value != '') {
                    $.post(preffix + "/", {
                        author: username_value,
                        text: text_value
                    }, function (message) {
                        insertMessage(message, scrollChat);
                        text.val('');
                    });
                }
            }
        });
    });
</script>
<div class="container">
    <div id="chatText" style="border:solid 1px;overflow-x: scroll;height: 300px;"></div>
    <input id="username" placeholder="username" style="width: 24%;">
    <input id="text" placeholder="text" style="width: 75%;">
</div>
